@import "./Colors.scss";
@import "./Typo.scss";

.Did-wrapper {
    background: $red;
    width: 100vw;
    height: 100vh;
    display: flex;
    .Did-left {
        width: 50%;
        background: $black;
        padding: 4em 2.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 3.8em;
            // margin-bottom: 1em;
            color: $red;
        }
        p {
            font-size: 1.7em;
            color: $cream;
        }
    }
    .Did-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .Did-image {
            width: 45%;
            height: 60%;
            border: 3px solid $cream;
            border-radius: 3px;
            box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.466);
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}
