@import "./Colors.scss";
@import "./Typo.scss";

.D-wrapper{
    background: $cream;
    width: 100vw;
    height: 100vh;
    padding: 2em 1em;
    .D-header{
        display: flex;
        // border: 2px solid $black;
        padding: 1em;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
        height: 20%;
        h2{
            font-size: 6em;
            font-family: Foerte;
            color: $red;
        }
        p{
            font-size: 1em;
            font-family: Mada L;
            letter-spacing: 3px;
            color: $black;
        }
    }
    .D-content{
        // border: 2px solid red;
        height: 80%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .D-content-top{
            // border: 2px solid blue;
            display: flex;
            padding: 1em;
            justify-content: flex-start;
            height: 50%;
        }
        .D-content-bottom{
            // border: 2px solid green;
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            height: 50%;
        }
    }
}

.D-content-container{
    width: 30%;
    // height: 400px;
    // background: $blue;
    margin: 0 3em;
    position: relative;
    height: 95%;
    &:hover{
        .D-content-container-frame{
            background: $black;
            width: 80%;
            height: 80%;
        }
        .D-content-container-title{
            opacity: .5;
        }
    }
    .D-content-container-title{
        font-size: 2em;
        font-family: Mada B;
        color: $red;
        text-align: left;
        margin-bottom: .3em;
        margin-top: .5em;
        position: relative;
        z-index: 1;
    }
    .D-content-container-text{
        font-family: Mada R;
        font-size: 1.1em;
        color: $black;
        position: relative;
        z-index: 1;
        height: 80%;
    }
    .D-content-container-frame{
        // border: 2px solid $red;
        background: $red;
        box-shadow: .2px 1px 16px -10px black;
        border-radius: 2px;
        // opacity: .9;
        position: absolute;
        right: 0;
        width: 40%;
        height: 50%;
        z-index: 0;
        transition: all 1s ease-in-out;
    }
}