@import "./Colors.scss";
@import "./Typo.scss";

.Here-wrapper {
    height: 100vh;
    width: 100vw;
    // background: $cream;
    // padding: .6em;
    .Here-container {
        // border: 6px solid red;
        height: 100%;
        display: flex;
        flex-direction: column;
        .Here-top {
            height: 35%;
            background: $cream;
            display: flex;
            align-items: center;
            justify-content: center;
            h3 {
                text-align: center;
                font-size: 4em;
                font-family: Mada B;
                width: 90%;
            }
        }
        .Here-bottom {
            height: 65%;
            background: $red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .Here-navigation {
                display: flex;
                // border: 2px solid white;
                align-items: center;
                justify-content: space-between;
                padding: 1em 5em;
                .Here-logo {
                    object-fit: contain;
                    width: 10%;
                    // height: 20%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                button{
                    border: 2px solid $cream;
                    width: 12%;
                    font-size: 1.6em;
                    font-family: Mada R;
                    background: transparent;
                    font-style: italic;
                    color: $cream;
                    box-shadow: 0 0 12px -4px black;
                    padding: .25em .1em;
                    border-radius: 6px;
                    transition: .2s linear;
                    text-transform: lowercase;
                    letter-spacing: 1px;
                    &:hover{
                        background: $cream;
                        // cursor: pointer;
                        color: $black;
                    }
                }
                .Here-links {
                    color: $cream;
                    p {
                        font-family: Mada B;
                        margin: .25em 0;
                        letter-spacing: 3px;
                    }
                }
            }
            .Here-footer {
                display: flex;
                justify-content: space-between;
                border: 2px solid $cream;
                align-items: center;
                padding: 2em 1.5em;
                border-radius: 6px;
                width: 80%;
                box-shadow: 0 0 12px -4px black;
                margin: 0 auto;
                p {
                    font-family: Foerte;
                    color: $cream;
                    font-size: 0.85em;
                }
                div {
                    // border: 2px solid white;
                    display: flex;
                    align-items: center;
                    font-size: 2em;
                    color: $cream;
                }
            }
        }
    }
}
