@import "./Colors.scss";
@import "./Typo.scss";

.M-wrapper {
    background: $black;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .H-wrapper {
        // border: 2px solid red;
        position: absolute;
        top: 2em;
        right: 2em;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
            width: auto;
        }
    }
    .I-wrapper {
        // border: 2px solid red;
        height: 60%;
        // width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            height: 100%;
            width: auto;
            position: relative;
            z-index: 2;
            border-radius: 4px;
            box-shadow: 1px 5px 12px 0 rgba(0, 0, 0, 0.568);
        }
        .I-background {
            background: $red;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 40px;
            left: 40px;
            z-index: 1;
        }
    }
    .T-wrapper {
        // border: 2px solid red;
        height: 80%;
        width: 50%;
        position: relative;
        padding-top: 6em;
        h1 {
            font-family: Foerte;
            text-align: end;
            color: $cream;
            font-size: 6.5em;
        }
        p {
            font-family: Mada R;
            color: $red;
            text-align: end;
            margin-right: 12em;
            margin-top: 3em;
        }
    }
    .F-wrapper {
        // border: 2px solid red;
        // height: 20%;
        position: relative;
        h2 {
            font-family: Foerte;
            color: $cream;
            font-size: 8em;
            -webkit-text-stroke: 1px $white;
            text-align: center;
            // animation: outlined 2s infinite;
        }
    }
}

@keyframes outlined {
    0% {
        -webkit-text-stroke: 1px $red;
    }
    50% {
        -webkit-text-stroke: 1px $cream;
    }
    100% {
        -webkit-text-stroke: 1px $red;
    }
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
