@font-face {
    font-family: "Foerte";
    src: url('../assets/fonts/Foerte.ttf')
}
@font-face {
    font-family: "Mada B";
    src: url('../assets/fonts/Mada-Bold.ttf')
}
@font-face {
    font-family: "Mada R";
    src: url('../assets/fonts/Mada-Regular.ttf')
}
@font-face {
    font-family: "Mada L";
    src: url('../assets/fonts/Mada-Light.ttf')
}