body, * {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  cursor: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor{
  width: 25px;
  color: #fefefe;
  font-family: Foerte;
  height: 25px;
  border:2px solid #E83B3B;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%,-50%);
  pointer-events: none;
  z-index: 99999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property:  opacity, background-color, transform, mix-blend-mode;
}

.cursor--hidden{
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.45);
  background-color: #E83B3B;
}


.cursor--clicked{
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #E83B3B;
}
